<div class="editor-row" style="margin-top: 10px;">
  <div  ng-repeat="target in panel.targets"
        class="grafana-target"
        ng-class="{'grafana-target-hidden': target.hide}"
        ng-controller="OpenTSDBMTargetCtrl"
        ng-init="init()">

    <div>
      <div class="direct-query-show">Opentsdb direct query:</div>
      <ul class="opentsdb-m-query">
        <li>
          <input type="text"
          placeholder="type here"
          spellcheck='false'
          ng-model="directQueryText"
          bs-typeahead="directQuery"
          class="direct-query-text"
          >
        </li>
<!--         <li class="dropdown" opentsdbm-add-func>
        </li> -->
        <li>
          <select ng-model="opentsdbFunc"
                  class="grafana-opentsdb-input input-small"
                  ng-change="addOpentsdbFunc()">
            <option value="Sum">Sum</option>
            <option value="Difference">Difference</option>
            <option value="multiply">multiply</option>
            <option value="divide">divide</option>
            <option value="movingAverage">movingAverage</option>
            <option value="highestCurrent">highestCurrent</option>
            <option value="highestMax">highestMax</option>
            <option value="scale">scale</option>
            <option value="alias">alias</option>
          </select>
        </li>
      </ul>
    </div>
  </div>
</div>
